spring:
  application:
    name: user-service
  data:
    redis:
      host: ${REDIS_HOSTNAME}
      port: ${REDIS_PORT}
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: jdbc:mysql://${DB_HOSTNAME}/phishing?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&serverTimezone=Asia/Seoul
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect  # 사용하는 DB 방언으로 교체
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: update
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://${EUREKA_HOSTNAME}/eureka/
jwt:
  secret:
    access: 86400000
    refresh: 86400000
    key: ${JWT_SECRET_KEY}
server:
  port: 8082
logging:
  level:
    org:
      springframework:
        security: DEBUG