server:
  port: 8080

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
        routes:
            - id: USER-SERVER
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user/**
              filters:
                - AuthenticationFilter
            - id: NOTI-SERVER
              uri: lb://NOTI-SERVICE
              predicates:
                - Path=/auth/**
              filters:
                - AuthenticationFilter

restclient:
  baseuri: http://localhost:8082

logging:
  level:
    feign: DEBUG
